html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff3cc;
}

#overlay {
    position: fixed; 
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
} 

#banner {
    background: #191302;
    color: white;
    height: 13rem;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    position: relative;
    z-index: 2;
}

#logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#hgLogo {
    border-radius: 50%;
    height: 9rem;
    align-self: center;
}

#links {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    flex-basis: 33%;
}

.selected {
    color: #fff3cc;
    text-decoration: underline;
}

#intro {
    display: flex;
    /* justify-content: center; */
}

#coffeePic {
    height: auto;
    width: 50vw;
    flex-basis: 50%;
    position: relative;
    z-index: 2;
}

#introContainer {
    flex-basis: 50%;
    align-self: center;
    font-size: 2rem;
    font-style: italic;
    padding: 20px;
    justify-content: center;
    position: relative;
    z-index: 2;
    color: white;
}
